.outro-1 {
    @include primaryText;
    background-color: $color-light-blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: $color-dark-blue;
    text-align: center;
}

.outro-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    &__cta {
        @include primaryText;
        background-color: $color-white;
        color: $color-dark-blue;
        width: fit-content;
        padding: 18px 25px;
        margin-bottom: 72px;
        border-radius: 6px;
        border: 3px solid $color-dark-blue;
        transition: all .5s;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background-color: $color-cta;
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
        }
    }

    &__cat {
        width: 346px;
        height: 391px;
        background-image: url('../images/outro-2-cat.png');
        background-size: contain;
        margin-bottom: 64px;
    }

    &__cta:hover &__cat {
        background-image: url('../images/outro-2-cat-hover.png');
    }
}