.colourScheme {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 40px;
    left: 26px;
    z-index: 1000;

    div {
        display: none;
        opacity: 0;
    }
    
    &:hover, div:not(:hover) {
        div {
            display: block;
            opacity: 1;

            &:hover {
                display: none;
                opacity: 0;
            }
        }
    }

    @media (min-width: 768px) { 
        bottom: 60px;
        left: 60px;
    }

    &__toggle {
        @include unbuttonize;
        cursor: pointer;
        background-image: url(../../images/icon-dark-mode.png);
        background-size: contain;
        bottom: 40px;
        left: 26px;
        height: 50px;
        width: 50px;

        @media (min-width: 768px) { 
            bottom: 60px;
            left: 60px;
        }
    }

    &__tooltip {
        cursor: auto;
        position: absolute;
        bottom: 6px;
        left: 65px;
        width: 140px;
        height: 35px;
        border-radius: 4px;
        background-color: $color-cta;
        padding: 5px;
        text-align: center;
        color: #000;
        font-family: "RecoletaAlt";
        font-size: 10px;
        line-height: 26px;

        &::before {
            content: "";
            background-color: $color-cta;
            position: absolute;
            top: 11px;
            left: -5px;
            height: 12px;
            width: 12px;
            transform: scaleX(1.5) rotate(45deg);
            z-index: -10;

            @media (min-width: 768px) { 
                top: 28px;
                left: 61px;
                transform: scaleY(1.5) rotate(45deg);
            }
        }

        @media (min-width: 768px) { 
            bottom: 70px;
            left: -44px;
        }
    }
}